.about-content {
    border-bottom: 1px solid $black;
    margin-top: $top-bar-height;

    .container {
        padding: 0;
    }

    .marquee p {
        font-size: $base;
    }


    p {
        font-size: $base;
        margin-bottom: $spacer;

        @include mq-large {
            font-size: $size-5;
        }
    }

    h3 {
        font-size: $size-4;

        @include mq-large {
            font-size: $size-2;
        }
    }

    h4 {
        font-weight: bold;
        font-size: $base;

        @include mq-large {
            font-size: $size-4;
        }
    }

    h5 {
        margin-bottom: 0;
        font-weight: bold;
        font-size: $base;

        @include mq-large {
            font-size: $size-5;
        }
    }

    .lead-text {
        font-size: 2rem;

        @include mq-medium {
            font-size: $size-4;
        }

        @include mq-large {
            font-size: $size-2;
        }
    }

    .row {
        // margin-bottom: $spacer;
        display: flex;
        justify-content: space-between;
        flex-flow: column;

        @include mq-medium {
            flex-flow: row;

        }


        &.section-1,
        &.section-3,
        &.section-5 {
            .column-text {
                order: 2;
                width: 100%;

                @include mq-medium {
                    order: 1;
                    width: 60%;
                }

                @include mq-large {
                    width: 50%;
                }
            }

            .column-image {
                order: 1;
                width: 100%;
                margin-bottom: $spacer;

                @include mq-medium {
                    order:  2;
                    width: 35%;
                    margin-bottom: 0;
                }
            }
        }

        &.section-2,
        &.section-4 {
            .column-text {
                order: 1;
                width: 100%;

                @include mq-medium {
                    order: 2;
                    width: 60%;
                }

                @include mq-large {
                    width: 50%;
                }
            }

            .column-image {
                order: 1;
                width: 100%;
                margin-bottom: $spacer;

                @include mq-medium {
                    width: 35%;
                    margin-bottom: 0;
                }
            }
        }
    }

    .column-text {
        width: 50%;
    }

    .column-image {
        width: 35%;
        top: $top-bar-height + 80px;
        align-self: flex-start;

        img {
            width: 100%;
            height: auto;

            @include mq-large {
                // position: sticky;
                // top: $top-bar-height + 32px;
            }
        }

        @include mq-medium {
            position: sticky;
        }

        // Landscape
        @media only screen
            and (min-device-width: 375px)
            and (max-device-width: 667px)
            and (-webkit-min-device-pixel-ratio: 2)
            and (orientation: landscape) {
                top: 120px;
                position: sticky;
        }
    }

    #what-we-do,
    #how-to-sell,
    #how-to-buy {
        height: $top-bar-height + 32px;
    }
}

.info-block {
    margin-bottom: $spacer*2;
}