// .auction-flexslider {
//     border-bottom: 1px solid #000;
//     padding-top: $top-bar-height;
//     height: calc(100vh - 70px);
// }

// .auction-slide {
//     display: flex;
// }


// .auction-flexslider:hover .flex-direction-nav {
//     .flex-prev {
//         opacity: 1;
//         left: 20px;
//     }

//     .flex-next {
//         opacity: 1;
//         right: 20px;
//     }
// }

// .auction-flexslider .flex-direction-nav {
//     .flex-prev {
//         left: -20px;
//         opacity: 0;
//     }

//     .flex-next {
//         right: -20px;
//         opacity: 0;
//     }
// }
