.box {
    text-align: center;
    margin-bottom: $spacer;

    @include mq-medium {
        margin-bottom: $spacer;
    }

    @include mq-large {
        margin-bottom: 3rem;
    }

    h4 {
        @extend .base;
        margin-bottom: 0;
        letter-spacing: 1px;
    }
}

.box-link {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    @include mq-medium {
        flex-flow: column;
    }
}

.box-index {
    .box {
        margin-bottom: 1rem;

        @include mq-medium {
            margin-bottom: $spacer;
        }

        @include mq-large {
            margin-bottom: $spacer*2;
        }
    }
}

.box-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    @include mq-medium {
        margin-bottom: $spacer;
    }
}

.box-container-lots {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include mq-medium {
        margin-right:  -3.333%;
    }

    @include mq-large {
        margin-right: -3%;
    }
}

.box-index,
.alm-reveal {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.alm-reveal {
    width: 100%;
    padding-top: 2rem;
}

.box-quarters {
    width: 100%;

    @include mq-medium {
        width: 30%;
        margin: 1.66%;
        transition: .3s;
        opacity: 1;

        &:hover {
            opacity: .5;
            transition: .3s;
        }
    }


    @include mq-large {
        width: 22%;
        margin: 1.5%;
        flex-flow: column;
    }
}

.carousel,
.info-section,
.journal {
    .box-img {
        width: 100%;
    }
}

.journal {
    margin-top: $top-bar-height;
}

.box-img.box-journal {
    width: 100%;
}

.box-img {
    display: block;
    width: 40%;

    @include mq-medium {
        width: 100%;
        margin-right: 0;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1rem;

        @include mq-large {
            margin-bottom: $spacer;
        }
    }
}



.box-info {
    text-align: left;
    width: 55%;

    @include mq-medium {
        text-align: center;
        width: 100%;
    }
}

.box-halves {
    width: 100%;

    @include mq-medium {
        width: 47%;
    }
}

.box-thirds {
    width: 100%;

    @include mq-medium {
        width: 30%;
        margin: 1.66%;
    }
}

.box-lot-num {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: .5rem;
    font-size: $small;

    @include mq-large {
        font-size: $base;
    }
}

.box-title {
    font-size: $size-5;
    margin-bottom: 0;

    &.lot-title {
        margin-bottom: .5rem;
        font-size: $base;
        font-weight: bold;

        @include mq-large {
            font-size: $size-5;
            font-weight: normal;
        }
    }
}

.lot-artwork-title {
    margin-bottom: .5rem;
    font-size: $small;

    @include mq-large {
        font-size: $base;
    }
}

.box-title-lg {
    font-size: $size-5;
    margin-bottom: 1rem;

    @include mq-medium {
        font-size: $size-3;
        margin-bottom: $spacer;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        font-size: $size-4;
    }
}

.box-date {
    @include mq-large {
        font-size: $size-5;
    }
}

.box-time {
    margin-bottom: 1rem;

    @include mq-large {
        font-size: $size-5;
        margin-bottom: $spacer;
    }
}


.box-text {
    font-size: $base;

    @include mq-medium {
        font-size: $size-5;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        font-size: $size-6;
    }
}

.box-date-journal {
    margin-top: 1rem;
    margin-bottom: .3rem;
    font-size: $small;

    @include mq-medium {
        font-size: 1rem;
    }

    @include mq-xlarge {
        margin-top: $spacer;
    }
}

.box-category {
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-size: $small;

    @include mq-medium {
        font-size: 1rem;
    }

    @include mq-xlarge {
        margin-bottom: $spacer;
    }
}

.box-author {
    letter-spacing: 1px;
    font-size: $small;

    @include mq-medium {
        font-size: 1rem;
    }
}

.box-excerpt {
    margin-top: 1rem;

    @include mq-xlarge {
        margin-top: $spacer;
    }
}


.box-asterisk {
    display: none;

    @include mq-large {
        display: block;
        margin-bottom: .5rem;
        height: 1.0625rem;
    }
}

.box-asterisk::before {
    content: '*';
}

.box-starting-bid {
    text-transform: uppercase;
    margin-bottom: .5rem;

    h4 {
        font-size: $small;

        @include mq-large {
            font-size: $base;
        }
    }

    @include mq-large {
        font-size: $size-5;
    }

    .sb-price {
        font-weight: bold;

        @include mq-large {
            font-weight: normal;
        }
    }
}