.btn {
    text-transform: uppercase;
    padding: 1rem;
    border: 1px solid $black;
    color: $black;
    display: inline-block;
    font-weight: $semi-bold;
    letter-spacing: 1px;
    font-size: $small;
    min-width: 225px;
    text-align: center;

    @include mq-large {
        font-size: $base;
        padding: 1rem 1.5rem;
    }

    &:hover {
        color: $white;
        background: $black;
    }
}

// .btn-[color] {}