.journal-entry {
    border-bottom: 1px solid #000;
    padding-bottom: $spacer*2;

    header {
        text-align: center;
        padding-top: $top-bar-height;

        @include mq-medium {
            max-width: 75%;
            margin: 0 auto;
        }

        @include mq-xlarge {
            max-width: 75%;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        font-size: $base;

        @include mq-large {
            font-size: $size-5;
        }
    }
}

.entry-title {
    margin-bottom: 1rem;
    font-size: $size-2;

    @include mq-large {
        font-size: $size-2;
    }

    @include mq-xlarge {
        font-size: $size-1;
    }
}

.journal-entry .entry-meta {
    margin-bottom: 0;
    font-size: $base;

    span {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

// Block;
.block {
    margin-bottom: $spacer*2;
}

// Full Width
.full-width-container {
    width: 100%;
    img {
        width: 100%;
        height: auto;
    }
}


// Content
.content-container {
    padding: 0;
    max-width: 800px;
}


// Blockquote
.blockquote-container {
    @extend .container;
    padding: 0;
    max-width: 1140px;

    blockquote {
        font-size: $size-5;
        text-align: center;

        @include mq-medium {
            font-size: $size-3;
        }

        @include mq-xxlarge {
            font-size: $size-2;
        }
    }
}