.site-info {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid $black;

    @include mq-medium {
        flex-flow: row;
        padding-bottom: 0;
    }
}

.info-box {
    width: 100%;
    padding: $spacer*1.5 5%;
    text-align: center;

    &:first-child {
        padding: $spacer*1.5 5%;
        border-bottom: 1px solid #000;
    }

    @include mq-medium {
        width: 50%;
        padding: $spacer*2 5%;
        text-align: left;

        &:first-child {
            border-right: 1px solid $black;
            padding: $spacer*2 5%;
            border-bottom: 0;
        }
    }

    p {
        font-size: $size-5;

        @include mq-medium {
            font-size: $size-5;
        }

        @media only screen
        and (min-device-width: 375px)
        and (max-device-width: 667px)
        and (orientation: landscape) {
            font-size: $size-4;
        }

        @include mq-large {
            font-size: $size-3;
        }
    }
}

.info-title {
    font-size: $size-5;
    margin-bottom: 1rem;
    line-height: 1.5em;

    @include mq-medium {
        margin-bottom: $spacer;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (orientation: landscape) {
        font-size: $size-4;
    }

    @include mq-large {
        font-size: $size-3;
        margin-bottom: $spacer*2;
    }
}

.info-text {
    margin-bottom: 0;
    margin-bottom: $spacer;

    @include mq-medium {
        margin-bottom: $spacer;
    }

    @include mq-large {
        margin-bottom: $spacer*2;
    }
}

.info-address {
    font-size: $size-5;
    margin-bottom: $spacer;

    @include mq-medium {
        font-size: $size-5;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (orientation: landscape) {
        font-size: $size-4;
    }

    @include mq-large {
        font-size: $size-3;
        margin-bottom: $spacer*2;
    }
}

.info-number {
    font-size: $size-5;

    @include mq-medium {
        font-size: $size-5;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (orientation: landscape) {
        font-size: $size-4;
    }

    @include mq-large {
        font-size: $size-3;
    }
}

.info-email {
    font-size: $size-5;

    @include mq-medium {
        font-size: $size-5;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (orientation: landscape) {
        font-size: $size-4;
    }

    @include mq-large {
        font-size: $size-3;
    }
}

// .copyright {}


.colophon {
    padding: $spacer 1rem;
    text-align: center;
    font-size: $base;
    min-height: $top-bar-height;
    display: flex;
    justify-content: center;
    align-items: center;


    @include mq-medium {
        font-size: $size-5;
        padding: $spacer*2 $spacer;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        font-size: $size-6;
        padding: $spacer;
    }
}