.fs-bar {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid $black;
    background: #fff;

    @include mq-medium {
        flex-flow: row;
    }
}

.fs-bar-title {
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    text-align: center;
    padding: .5rem;
    display: block;

    @include mq-medium {
        border-top: none;
    }
}

.fs-bar-keyword {
    .fs-bar-title {
        border-top: none;
    }
}

.fs-bar-keyword {
    width: 100%;

    @include mq-medium {
        width: 33.333%;
        border-right: 1px solid $black;
    }
}

.fs-bar-lot {
    width: 100%;

    @include mq-medium {
        width: 33.333%;
        border-right: 1px solid $black;
    }
}

.fs-bar-sort {
    width: 100%;
    display: flex;
    flex-flow: column;

    @include mq-medium {
        width: 33.333%;
    }
}

.sort-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;

    .facetwp-sort {
        width: 100%;
    }
}

.facetwp-facet {
    margin: 0 !important;
    position: relative;
    height: 50px;
}

.facetwp-search-wrap {
    .facetwp-search {
        width: 100%;
        padding: 0 1rem;
        border: none;
        font-size: 1rem;
        height: 100%;
    }

    .facetwp-btn {
        right: 1.1rem;
        opacity: 1;

        &::before {
            background-image: url('../../img/icon-search.svg');
            background-repeat: no-repeat;
            background-size: 20px 20px;
        }
    }
}

.facetwp-loading {
    position: absolute;
    top: 1rem;
    left: 1rem;
}


// Search

.search-header {
    padding: 1rem 1rem 0;

    @include mq-xlarge {
        padding: 2rem 1rem 0;
    }
}

.search-title {
    margin-bottom: 0;
    display: inline-block;
}

.search-results {
    @extend h4;
    display: inline-block;
    margin-bottom: 0;
}