    .btn-menu {
        border: none;
        background: none;
        // cursor: url('../../img/circle-pointer.svg'), auto;
        padding: 0;
        height: 40px;

        &:focus {
            outline: none;
        }
    }

    .hamburger {
        width: 20px;
        height: 14px;
        -webkit-transform: translate(-800%, -50%);
        transform: translate(-800%, -50%);
    }

    .hamburger span {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        margin-top: 0px;
        background: $black;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    .hamburger span:before,
    .hamburger span:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        left: 0;
        background: $black;
        position: absolute;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    .hamburger span:before {
        top: -10px;
    }

    .hamburger span:after {
        bottom: -10px;
    }

    .hamburger {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .hamburger.close span {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        background: transparent;
    }

    .hamburger.close span:before {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .hamburger.close span:after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
    }

