.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

@media only screen and (max-width: $medium ) {
    .fs-wrapper {
        transform: translateY(-120%);
        transition: transform .3s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100vh;
        background: #fff;
        display: flex;
        align-items: center;
        align-content: center;
        padding: $top-bar-height 0;
        border-bottom: 1px solid #000;

        .fs-bar {
            width: 85%;
            margin: 0 auto;

            .fs-bar-title {
                padding: 2rem 0 0.5rem;
            }

            .facetwp-facet {
                border-right: 1px solid #000;
                border-left: 1px solid #000;
            }
        }

        &.isOpen {
            transform: translateY(0%);
        }
    }
}

@include mq-medium {
    .fs-wrapper.affix {
        position:fixed;
        top:0;
        right:0;
        width: 100%;
        z-index: 99;
    }

    .fs-wrapper.affix ~ .previous-auctions {
        padding-top: 92px;
    }
}

body.fs-isOpen {

    .fs-bg {
        display: block;
        cursor: pointer;
    }

    .previous-auctions {
        display:none;
    }

    .site-footer {
        display: none;
    }

    #top-bar {
        transform: translateY(0%);
    }
}

.fs-bg {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
}
