 .hero {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: column;
    // padding-top: $top-bar-height;
    border-bottom: 1px solid #000;

    @include mq-medium {
        flex-flow: row;
    }

    @media only screen
    and (max-device-width: 769px)
    and (orientation: portrait) {
        flex-flow: column;
    }
}

.hero-image {
    width: 100%;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    margin-top: $top-bar-height;

    @include mq-medium {
        width: 50%;
    }

    @media only screen
    and (max-device-width: 769px)
    and (orientation: portrait) {
        width: 100%;
    }


    @media only screen
    and (max-device-width: 769px)
    and (orientation: portrait) {
        width: 100%;
    }
}

.hero-image.auction-image {
    width: 100%;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    margin-top: $top-bar-height;

    @include mq-medium {
        width: 50%;
        height: 100vh;
        min-height: 100vh;

        position: sticky;
        top: 0;
        padding: 0 $spacer*2;
    }

    // Tablet Portrait
    @media only screen
    and (max-device-width: 769px)
    and (orientation: portrait) {
        width: 100%;
        position: static;
        height: 50vh;
        min-height: 50vh;
    }

    @include mq-large {
        padding: 0 $spacer*3;
    }
}

.page-template-page-auctions,
.page-template-page-journal,
.single-lots {
    .hero-info {
        @include mq-medium {
            width: 50%;
            text-align: left;
        }

        @media only screen
        and (max-device-width: 769px)
        and (orientation: landscape) {
            margin-top: 3rem;
        }

        // Tablet
        @media only screen
        and (max-device-width: 769px)
        and (orientation: portrait) {
            width: 90%;
            border-top: none;
            text-align: center;
        }
    }

    .hero-location {
        @include mq-medium {
            width: 100%;
            text-align: left;
        }
    }
}

.single-auction .hero-info {
    border-top: none;
    margin-top: $top-bar-height;
}

.hero-info {
    width: 100%;
    margin: 0 auto;
    padding: $spacer 7.5% $spacer;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include mq-medium {
        width: 90%;
        padding: 3rem 5%;
        justify-content: flex-start;
    }

    @include mq-large {
        padding: 6rem 5%;
        width: 75%;
    }

    @media only screen
    and (max-device-width: 769px)
    and (orientation: portrait) {
        width: 100%;
        border-left: none;
        border-top: 1px solid #000;
        min-height: 50vh;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        padding: 2.5rem;
    }

    > div {
        align-self: center;
    }
}

.auction-image + .hero-info {

    @include mq-medium {
        padding-top: 7rem;
    }

    /* iPhone Landscape */
    @media only screen
      and (min-device-width: 375px)
      and (max-device-width: 667px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        padding: 3rem;
    }

    // Tablet
    @media only screen
    and (max-device-width: 769px)
    and (orientation: portrait) {
        padding-top: 2rem;
    }

    @include mq-large {
        padding-top: 8rem;
    }

    // Tablet Landscape
    @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (orientation: landscape)
      and (-webkit-min-device-pixel-ratio: 2) {
        padding-top: 7rem;
    }

    @include mq-xxlarge {
        padding-top: 8rem;
    }
}

.page-template-page-auctions .hero-info,
.home .hero-info {
    .hero-location {
        width: 100%;
    }

    width: 80%;
    text-align: center;

    @include mq-medium {
        width: 50%;
        text-align: left;
    }

    @media only screen
      and (max-device-width: 800px)
      and (orientation: landscape) {
        width: 50%;
        text-align: left;
    }

    @media only screen
      and (max-device-width: 900px)
      and (orientation: portrait) {
        width: 80%;
        text-align: center;
        border-top: 0;
    }
}

.hero-title {
    font-size: $size-3;
    margin-bottom: 1rem;

    @include mq-medium {
        font-size: 4rem;
    }

    @include mq-large {
        font-size: $size-1;
    }

    @media only screen
        and (min-device-width: 375px)
        and (max-device-width: 736px)
        and (orientation: landscape) {
        font-size: $size-3;
    }
}

.journal-date {
    margin-bottom: .5rem;
}

.journal-author {
    margin-bottom: $spacer*2;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hero-artwork {
    font-size: $size-5;

    @include mq-medium {
        font-size: $size-4;
    }

    @include mq-large {
        font-size: $size-3;
    }
}

.hero-date {
    font-size: $size-5;
    line-height: 1.2em;

    @include mq-medium {
        font-size: 2rem;
    }

    @include mq-large {
        font-size: $size-3;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        font-size: $size-5;
    }
}

.hero-time {
    font-size: $size-5;
    margin-bottom: 1rem;
    line-height: 1.2em;

    @include mq-medium {
        font-size: 2rem;
    }

    @include mq-large {
        font-size: $size-3;
        margin-bottom: 2.5rem;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        font-size: $size-5;
    }
}

.hero-location {
    margin-bottom: 1.5rem;

    @include mq-medium {
        font-size: $size-5;
        width: 75%;
        margin: 0 auto 1.5rem;
    }

    @include mq-large {
        margin-bottom: 2.5rem;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        font-size: 1rem;
    }
}

.hero-starting-bid {
    @extend .size-5;
    font-weight: bold;
}

.auction-nav {
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }

        @include mq-large {
            margin-right: $spacer;
            margin-bottom: 1rem;
        }

        a {
            min-width: auto;

            @include mq-xlarge {
                min-width: 225px;
            }
        }
    }
}

.lot-info {
    margin: $spacer 0;
}

.hero-lot-details {
    color: $gray;
    font-size: $base;
    padding: $spacer 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, .3);

    div {
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    strong {
        font-size: $small;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
        margin-bottom: .25rem;
    }
}

.hero-code {
    @extend .base;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 1px;

    @include mq-medium {
        margin-bottom: $spacer;
    }
}

.hero-specs {
    font-size: $base;

    @include mq-large {
        font-size: $size-5;
    }
}

.hero-writeup {
    border-top: 1px solid rgba(0, 0, 0, .3);
    padding: $spacer 0 0 0;
    font-size: $base;

    @include mq-medium {
        font-size: $size-6;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        font-size: $base;
    }
}

.hero-banner {
    width: 100%;
    min-height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}