.lot-slider {
    margin: 0;
    padding: 0 $spacer;
    background-color: #eee;

    position: sticky;
    top: $top-bar-height;

    border: none;
    border-radius: 0;

    @include mq-medium {
        padding: 0 $spacer*2;
    }

    @include mq-large {
        padding: 0 $spacer*3;
    }

}

.lot-slider .flex-control-nav {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.lot-slider .flex-direction-nav {
    display: none;

    @include mq-large {
        display: block;
    }
}

.lot-slider .flex-control-paging {
    a {
        background: #fff;
        border: 1px solid #000;
        box-shadow: none;
    }

    a.flex-active {
        background: #000;
        border: 1px solid #000;
    }
}

.lot-image {
    display: flex !important;
    align-items: center !important;

    // max-height: 82vh;
    // height: 82vh;

    img {
        margin: auto;
        // max-height: 82vh;
        width: auto !important;
        max-width: 100%;
    }
}

.gallery-link {
    width: 100%;
}