#menu-overlay {
    height: 100vh;
    width: 100%;
    padding: 4rem 2rem 2rem;
    position: fixed;
    top: 0;
    z-index: 998;
    background: #fff;

    display: flex;
    align-items: center;
    transform: translateY(-110%);
    transition: transform .3s;

    @include mq-large {
        justify-content: space-between;
        flex-flow: row;
        align-content: flex-end;
        align-items: flex-end;
        padding: 4rem;
    }

    // Landscape
    @media only screen
        and (min-device-width: 375px)
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {
            padding: 4rem 2rem 2rem;
    }


    ul {
        margin: 0;
        padding: 0;
    }

    &.isOpen {
        transform: translateX(0);
    }
}

.overlay-inner {
    width: 100%;

    @media only screen
    and (max-device-width: 736px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: flex-end;

        .main-menu {
            text-align: left;
            font-size: 1.75rem;
        }
    }

    @include mq-large {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.main-menu {
    font-size: 1.9rem;
    line-height: 1.4em;
    text-align: center;

    @include mq-medium {
        font-size: $size-3;
    }
    @include mq-large {
        font-size: $size-2;
        text-align: left;
    }


}

.contact-info {
    font-size: $base;
    line-height: 1.4em;
    text-align: center;
    margin-top: 2rem;

    @include mq-large {
        font-size: $size-4;
        text-align: right;
        margin-bottom: 12px
    }

    /* Landscape */
    @media only screen
        and (min-device-width: 375px)
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {
            text-align: right;
    }
}

.menu-overlay-isOpen {
    overflow: hidden;
}