.post-nav {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;

    @include mq-medium {
        flex-flow: row;
    }

    a {
        @extend .btn;
        margin: 0 1rem 1rem;
    }
}