.section.submit-artwork {
    border-bottom: 1px solid #000;

    .container {
        @include mq-medium {
            width: 70%;
        }
    }

    header {
        text-align: center;
        margin-bottom: $spacer;
        padding-top: $top-bar-height;

        @include mq-medium {
            margin-bottom: $spacer*2;
        }

        h2 {
            margin-bottom: 1rem;
            font-size: $size-3;

            @include mq-medium {
                font-size: $size-2;
            }
        }
    }

    .frm_style_formidable-style.with_frm_style .frm_submit button {
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
    }

    .frm_dropzone .dz-preview .dz-image {
        border-radius: 0;
    }

    .frm_style_formidable-style.with_frm_style .frm_dropzone {
        border-radius: 0;
        border: 1px dotted #000;
        min-height: 225px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .frm_dropzone .frm_upload_icon:before {
        opacity: .3;
    }

    .frm_style_formidable-style.with_frm_style .frm_repeat_sec {
        border-bottom: 1px dotted #000;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    .frm_icon_font.frm_upload_icon {
        display: none;
    }

    .frm_dropzone .frm_small_text {
        display: none;
    }

    .frm_button {
        display: inline-block !important;
    }

    input, textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none !important;
    }

    .form-heading {
        text-align: center;

        @include mq-medium {
            text-align: left;
        }
    }
}