.top-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: $white;
    height: $top-bar-height;
    transform: translateY(0%);
    transition: transform .4s;


    &.isHidden {
        .mobile-triggers {
            transform: translateX(0);
        }

        @include mq-medium {
            transform: translateY(-100%);
            transition: transform .3s;
        }
    }

}

.top-bar-logo {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;

    @media only screen
      and (min-device-width: 375px)
      and (max-device-width: 639px)
      and (orientation: landscape) {
        padding: 1rem;
        border-right: 1px solid black;
    }

    @include mq-medium {
        border-right: 1px solid black;
    }

    @include mq-large {
        padding: .5rem 2rem;
    }

    &:hover {
        background: black;

        h1 a {
            color: white;
        }
    }

    h1 {
        font-size: $size-5;
        margin-bottom: 0;

        @include mq-large {
            font-size: $size-4;
        }
    }
}

.top-bar-marquee {
    display: none;

    @include mq-large {
        padding: .5rem 2rem;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}

.top-bar-menu {
    padding: .55rem 1rem;
    border-left: 1px solid black;
    display: flex;
    align-items: center;

    @include mq-large {
        padding: .5rem 1.5rem;
    }
}


// Mobile Triggers
@include mq-medium {
    .mobile-triggers {
        display: none;
    }
}

@media only screen and (max-width: $medium) {
    .mobile-triggers {
        position: absolute;
        z-index: 9999;
        width: 63px;
        background: #fff;
        height: 69px;
        top: 0;
        right: 68px;
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;

        button {
            width: 100%;
            border: none;
            border-left: 1px solid #000;
            background: #fff;
            height: 100%;
            border-radius: 0;
        }

        .fs-trigger {
            cursor: pointer;
            background-image: url('../../img/icon-search.svg');
            background-size: 25px 25px;
            background-position: center;
            background-repeat: no-repeat;


            &.isClicked {
                background-image: url('../../img/icon-close.svg');
                background-size: 22px 22px;
            }
        }

        // .home-trigger {
        //     background-image: url('../../img/icon-home.svg');
        //     background-size: 28px 25px;
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     width: 28px;
        //     height: 25px;
        //     display: inline-block;

        // }
    }
}