
/* @group EXTENSIONS */

.container {
    width: 85%;
    padding: $spacer 0 $spacer*2;
    margin: 0 auto;

    @include mq-medium {
        width: 80%;
        padding: $spacer*1.5 0;
    }

    @include mq-large {
        padding: $spacer*2.5 0;
    }
}

.full-container {
    width: 85%;
    padding: $spacer 0;
    margin: 0 auto;

    @include mq-large {
        width: 90%;
        padding: $spacer*2.5 0;
    }
}

.index-container {
    padding: $spacer 0;
    margin: 0 5%;

    @include mq-large {
        padding: $spacer*2 0;
    }
}

.size-1 {
    font-size: $size-1;
}

.size-2 {
    font-size: $size-2;
}

.size-3 {
    font-size: $size-3;
}

.size-4 {
    font-size: $size-4;
}

.size-5 {
    font-size: $size-5;
}

.base {
    font-size: $base;
}