html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: visible;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;

    // smooth scrolling in iOS
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    // -ms-word-break: break-all;
    //  word-break: break-all;

    // // Non standard for webkit
    // word-break: break-word;

    // -webkit-hyphens: auto;
    //    -moz-hyphens: auto;
    //         hyphens: auto;

    // cursor: url('../../img/circle-pointer.svg'), auto;
}

a {
    color: $black;
    // cursor: url('../../img/circle-pointer.svg'), auto;

    &:hover {
        color: $gray;
    }
}

.no-height {
    padding: 0 !important;
    height: 0 !important;
    margin: 0 !important;
}

.text-center {
    text-align: center;
}

button {
    border-radius: 0;
}

input, textarea {
    font-size: 16px;
}

input {
  text-shadow: rgba(0,0,0,0) 0px 0px 0px;
}