.previous-auctions,
.what-we-do,
.journal {
    text-align: center;
    border-bottom: 1px solid $black;
}

.section-header {
    margin-bottom: $spacer;

    @include mq-large {
        margin-bottom: $spacer*2;
    }

    &.journal-header {
        margin: 1rem 0 $spacer*2;
        padding-top: $top-bar-height;

        @include mq-large {
            margin: 1rem 0 $spacer*3;
        }
    }
}

.section-title {
    font-size: $size-4;
    margin-bottom: 0;
    text-align: center;

    @include mq-medium {
        font-size: $size-2;
    }

    @include mq-large {
        font-size: $size-2;
        margin-bottom: $spacer;
    }

    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        font-size: $size-3;
    }
}

.fwp-load-more.btn {
    background: #fff;
    cursor: pointer;
    margin-bottom: $spacer;

    &:hover {
        background: #000;
    }
}