@mixin mq-medium {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin mq-large {
    @media (min-width: #{$large}) {
        @content;
    }
}

@mixin mq-mbp13 {
    @media (min-width: #{$mbp13}) {
        @content;
    }
}

@mixin mq-xlarge {
    @media (min-width: #{$xlarge}) {
        @content;
    }
}

@mixin mq-xxlarge {
    @media (min-width: #{$xxlarge}) {
        @content;
    }
}