/* typenugget.com */

html,
body {
    font-family: $sans-serif;
    font-weight: $regular;
    font-size: 16px;
    line-height: 1.5;

    @include mq-xxlarge {
        font-size: 20px;
    }
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
}

h1 {
    font-size: $size-1;
    margin-bottom: 1.5rem;
    line-height: 1.17;
}

h2 {
    font-size: $size-2;
    margin-bottom: 1.5rem;
    margin-bottom: 0.83em;
    line-height: 1.17;
}

h3 {
    font-size: $size-3;
    margin-bottom: 1.5rem;
    line-height: 1.33;
}

h4 {
    font-size: $size-4;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

h5 {
    font-size: $size-5;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

h6 {
    font-size: $base;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

p {
    font-size: $base;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-left: 1.1em;
}
