/* @group Fonts */
    $sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    $serif: serif;
    $monospace: Courier, Lucida Console, Lucida Sans Typewriter, monospace;

/* @group Font Sizes */
    $size-1: 5rem; // 80px
    $size-2: 3.75rem; // 60px
    $size-3: 2.5rem; // 40px
    $size-4: 1.75rem; // 28px
    $size-5: 1.5rem; // 24px
    $size-6: 1.25rem; // 21.6px
    $base: 1rem; // 16px
    $small: .8rem; // .8rem
    $blockquote: $size-3; // 40px
    $code-size: $base; // 16px

/* @group Font Weights */
    $light: 300;
    $regular: 400;
    $bold: 700;
    $semi-bold: 500;
    $x-bold: 800;
    $heavy: 900;

/* @group Measurements */
    $top-bar-height: 70px;
    $spacer: 2rem;

/* @group Colors */
    $gray: #777;
    $black: #000000;
    $white: #ffffff;

    $text-color: #333333;
    $text-invert: #ffffff;


/* @group Custom Breakpoints */
    $medium: 40em; // 640px
    $large: 64em; // 1024px
    $xlarge: 90em; // 1440px
    $xxlarge: 100em; // 1600px
    $mbp13: 80em; // 1280px
    $mbp15: 90em; // 1440px